<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700|Source+Serif+Pro&display=swap" rel="stylesheet">
    <title>Seth Angell</title>

</head>
<body>
        <div class="inner-landing-container">
            <div class="text-container">
                <h1>{{ info.name }}</h1>
                <p>{{ info.bio }}</p>
            </div>
            <div class="avatar">
                <img src="{{ info.avatar.url }}" alt="the image of an incredibly creative dev you should work with" class="avatar">
            </div>
            <div class="break"></div>
            <div class="social-resume-links">
                <p>instagram</p>
                <p>github</p>
                <p>twitter</p>
                <p>resume</p>
                <p>seth [at] probit [dot] live</p>
            </div>
        </div>
</body>
</html>