---
title: Seth Angell
---

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/bundle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/"> / </a>
        <a href="/about">/about</a>
        <a href="/blog">/blog</a>
        <a href="/uses">/uses</a>
      </nav>
    </header>
    <main>{{ content | safe }}</main>
    <footer>Made With ❤️ In Wilmington, North Carolina</footer> 
  </body>
</html>
