{% extends '_base.html' %}
{% load static %}
{% block title %}DoubleL Press{% endblock title %}
{% block content %}
    <div class="content-header">
        <span class="content-title">DoubleL Press</span>
        <a class="content-links" href="{% url 'home' %}">home</a>
        <a class="content-links" href="{% url 'blog_index' %}">blog</a>
    </div>
    <div class="blog_container">
    {% for blog in blog_posts %}
        <a class="blog_title_link" href="{%  url 'article_detail' blog.slug %}">{{ blog.title }}</a>
        {% if blog.created_date == blog.updated %}
            <p class="date-index">Posted on: {{ blog.created_date }}</p>
        {% else %}
            <p class="date-index">Posted on: {{ blog.created_date }} | Updated on: {{ blog.updated }}</p>
        {% endif %}
        {{ blog.html_body | safe }}
        <hr>
    {% endfor %}
    </div>
{% endblock content %}
