---
layout: _baseTemplate.njk
title: DoubleL Press
---

<section class="blog-index">
	<p class="index-kicker">DoubleL Press</p>
	<h1 class="index-title">Writing</h1>
	{% if intro %}<p class="index-intro">{{ intro }}</p>{% endif %}

	{%- for post in collections.blog -%}
	<a class="post-row" href="{{ post.page.url }}">
		<p class="post-row-meta">
			<span>{{ post.page.date | metaDate }}</span>
			{% assign rt = post.templateContent | readingTime %}
			{% if rt != "" %}<span class="dot" aria-hidden="true"></span><span>{{ rt }}</span>{% endif %}
		</p>
		<h2 class="post-row-title">{{ post.data.title }}</h2>
		<p class="post-row-excerpt">{{ post.data.description }}</p>
	</a>
	{%- endfor -%}
</section>
