{% extends '_base.html' %}
{% load static %}

{% block meta %}
    <meta property="og:title" content="{{ blog_post.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.sethangell.com/blog/{{ blog_post.slug }}" />
    <meta property="og:image" content="{{ blog_post.header_image }}" />  
    <meta property="og:description" content="{{ blog_post.preview }}" />
    <meta property="og:site_name" content="https://www.sethangell.com/blog/" /> 
{% endblock meta %}

{% block style %}
    <style>
        h1 { 
            font-family: 'Red Hat Mono', monospace;
        }

        p { 
            font-family: 'Red Hat Mono', monospace;
        }
    </style>
{% endblock style %}
{% block title %}{{ blog_post.title }}{% endblock title %}


{% block content %}

    
   {% comment %} <div class="content-header">
            <div class="navbar-text">
                <a class="nav-bar-item" href="{% url 'blog_index' %}">blog</a>
                <a class="nav-bar-item" href="{% url 'home' %}">home</a>
            </div>
            <div class="navbar-icon">
                <a class="nav-bar-item" href="{% url 'blog_index' %}">
                    <i class="fa fa-rss"></i>
                </a>
                <a class="nav-bar-item" href="{% url 'home' %}">
                    <i class="fa fa-home"></i>
                </a>
            </div>
            <span class="content-title">DoubleL Press</span>
        </div>
    <div class="blog_container">
        <h1 class="blog_text">{{ blog_post.title }}</h1>
        {% if blog_post.created_date == blog_post.updated %}
            <p class="date-detail">Posted: {{ blog_post.created_date }}</p>
        {% else %}
            <p class="date-detail">Posted: {{ blog_post.created_date }} | Updated: {{ blog_post.updated }}</p>
        {% endif %}
        {% autoescape off %}
            {{ blog_post.html_body | safe }}
        {% endautoescape %}
        <br>
        <br>
    </div> {% endcomment %}

{% endblock content %}