/* ======================= Color Scheme ======================= */
/* pulled from: https://visme.co/blog/website-color-schemes/ #4 */
/* Dark purply-blue:    #05386B                                 */
/* Emerald Green:       #379683                                 */
/* Electric Mint:       #5CDB95                                 */
/* Desaturated Mint:    #8EE4AF                                 */
/* MeltedMintChocoChip: #EDF5E1                                 */
/* ============================================================ */

{% load static %}

h1{
    font-family: 'Rubik', sans-serif;
    color: #05386B;
    font-size: 35px;
}

h2{
    font-family: 'Rubik', sans-serif;
    color: #05386B;
    font-size: 20px;
}

h3{
    font-size: 14px;
    letter-spacing: 1px;
    color: #05386B;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

p{
    font-family: 'Karla', serif;
    color: #05386B;
    font-size: 15px;
    margin: 0;
    word-wrap: break-word;
}

body {
    margin: 0;
    padding: 0;
}

a{
    transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
}

.content-header{
        display: inline-block;
        position: absolute;
        top: 0;
        height: 80px;
        width: 100%;
        background-color: #5CDB95;
        justify-content: center;
        margin-bottom: 10px;

    }
span.content-title{
        position: relative;
        font-family: 'Rubik', sans-serif;
        color: #05386B;
        font-size: 20px;
        margin: auto 10px;
        float: left;
    }


/* ========== END HOMEPAGE CSS ========== */

@media screen and (min-width: 767px){
    .navbar-text{
        display: block;
    }
    .navbar-icon{
        display: none;
    }
}


@media screen and (max-width: 1020px) {

    h1{
        font-family: 'Rubik', sans-serif;
        color: #05386B;
        font-size: 22px;
    }

    h2{
        font-size: 16px;
        letter-spacing: 1px;
        color: #05386B;
        text-transform: uppercase;
        font-family: 'Rubik', sans-serif;
    }

    h3{
        font-size: 12px;
        letter-spacing: 1px;
        color: #05386B;
        text-transform: uppercase;
        font-family: 'Rubik', sans-serif;
    }

    /* =========== BEGIN NAVBAR CSS =========== */

    .content-header{
        display: inline-block;
        position: absolute;
        top: 0;
        height: 80px;
        width: 100%;
        background-color: #5CDB95;
        justify-content: center;
        margin-bottom: 10px;

    }


}

@media screen and (max-width: 767px) {

    h1{
        font-family: 'Rubik', sans-serif;
        color: #05386B;
        font-size: 22px;
    }

    /* =========== BEGIN NAVBAR CSS =========== */



    .content-header{
        display: block;
        position: relative;
        height: 5em;
        line-height: 5em;
        width: 100%;
        background-color: #5CDB95;
        justify-content: center;
        margin-bottom: 10px;
    }

    .nav-bar-item{
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        text-decoration:none;
        opacity: 1;
        color: #05386B;
        padding: 0 10px;
        transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
        text-transform: uppercase;
    }

    .navbar-text{

    }

    .navbar-text{
        position: relative;
        float: right;
        display: none;

    }
    .navbar-icon{
        position: relative;
        float: right;
        display: block;
        margin: 0 10px 0 0
    }

    span.content-title{
        position: relative;
        font-family: 'Rubik', sans-serif;
        color: #05386B;
        font-size: 20px;
        margin: auto 10px;
        float: left;
    }

    .nav-bar{
        height: 80px;
    }
}