{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    {% block meta %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/_base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% block section_css %}{% endblock section_css %}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Karla&family=Rubik:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Seth Angell: {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'home/assets/favicon.ico' %}"/>
</head>
<body>
{% block content %}
{%  endblock content %}
</body>
</html>